
/TeleBotService/obj
/TeleBotService/bin
/Linkplay.HttpApi/obj
/Linkplay.HttpApi/bin
TeleBotService/appsettings.Production.json
.DS_Store
TeleBotService/buildinfo
TeleBotService/appsettings.InternetRadio.json
/TeleBotService/local-config
